[mysqld]
skip-name-resolve
character_set_server='utf8'
init_connect='SET NAMES utf8'
lower_case_table_names=1
# [必须] 服务器唯一id， 默认是1，
serer-id=1
binlog-format=row # 使用row 格式
# [必须] 启动二进制日志
log-bin=mysql-bin
# 复制过滤：那些数据库不同同步
binlog-ignore-db=mysql

# 设置需要同步的数据库 binlog_do_db = db_name
# 如果是多个同步库，多写两个 binlog_do_db 配置即可
# 如果不指明对某个库同步，表示同步所有库，除了binlog-ignore-db 忽略的库
# binlog_do_db = test # 需要同步test库

# 确保binlog日志写入后与硬盘同步
sync_binlog = 1

# 跳过所有的错误，继续执行复制操作
slave-skip-errors = all

# 如果订阅的是mysql的从库、需要增加配置让从库的日志写到binlog中
# log_slave_updates=1
dataDir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

symbolic-links=0
log-error=/var/lib/mysql/mysqld.log
pid-file=/var/lib/mysql/mysqld.pid